{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<h2>Create New Blog Post</h2>
<form action="/posts/create" method="POST">
    <label for="title">Title</label> 
     <input class="form-control" type="text" placeholder="my blog" aria-label="Search" name="title" id="title">
    <br>
    <label for="author">Author</label>
    <input class="form-control" type="text" placeholder="your name" aria-label="Search" name="author"
        id="author">
    <br>
    <div class="form-group">
        <label for="content">Post</label>
        <textarea class="form-control" name="content" id="content" rows="3"></textarea>
    </div>
    <br>
    <input class="btn btn-success" type="submit" value="Post">
    <a class="btn btn-dark" href="/posts">Cancle</a>
</form>
<hr>
{% endblock %}