{% extends 'base.html' %}

{% block head %} 
<title>Edit</title>
{% endblock %}

{% block body %} 
<h1>Edit Page</h1>
<hr>
<h2>Edit Blog Post</h2>
<form action="/posts/edit/{{posts.id}}" method="POST">
    <label for="title">Title</label>  
    <input class="form-control" type="text" name="title" id="title" value="{{posts.title}}">
    <br>
    <label for="author">Author</label> 
    <input class="form-control" type="text" name="author" id="author" value="{{posts.author}}">
    <br>
    <div class="form-group">
        <label for="content">Post</label>
        <textarea class="form-control" name="content" id="content" value="{{posts.content}}" rows="3"></textarea>
    </div>
    <br>
    <input class="btn btn-success" type="submit" value="Save">
    <a class="btn btn-dark" href="/posts">Cancle</a>
</form>
<hr>
{% endblock %}