{% extends 'base.html' %}

{% block head %} 
<title>Home</title>
{% endblock %}

{% block body %} 
<br>
<h1>Home Page</h1>
<br>
<main role="main">
    <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome to my Blog</h1>
        <p>Blog!!!!!!!!!!Blog!!!!!!!Blog!!!!!!!!</p>
        <p>At the smallest breakpoint, the collapse plugin is used to hide the links and show a menu button to toggle the collapsed content.</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">Go To Posts &raquo;</a>
        </p>
      </div>
    </div>
  </main>
{% endblock %}