{% extends 'base.html' %}

{% block head %}
<title>Post</title>
{% endblock %}

{% block body %}
<br>
<div>
    <h1 style="display:inline;">All Posts</h1>
    <a style="display:inline;" class="btn btn-warning float-right" href="/posts/create" role="button">+ Create New Post &raquo;</a>
</div>
<hr>
{% for post in posts %}
<h2>{{post.title}}</h2>
<br>
<h6>Written By: {{post.author}} On {{post.date_posted}}<h6>
<br>
<p style="white-space:pre-wrap">{{post.content}}</p>
<a type="button" class="btn btn-danger" href="/posts/delete/{{post.id}}">Delete</a>
<a type="button" class="btn btn-primary" href="/posts/edit/{{post.id}}">Edit</a>
<hr>
<br> {% endfor %} {% endblock %}